<div class="area-label-outer-wrapper">
  <div class="area-label-wrapper">
    <i class="inverted-corner"></i>
    <div class="content">
      <div class="row bottom-separator">
        <div class="header">{{test}}</div>
        <div>
          <span class='area'>{{ 1 + 1 }}</span>
          <span class='unit'>m</span>
        </div>
      </div>
      <div class="row">
        <div class="header">Areal</div>
        <div class="right-margin">
          <span class='area'>0.02</span>
          <span class='unit'>m<i class="sup">2</i></span>
        </div>
      </div>
    </div>
  </div>
</div>