
<map-cmp ></map-cmp>
<div class="polydrawbuttons">
  
  <div class="button" (click)="onFreedrawMenuClick()">DRAW</div>
  <div class="button" (click)="onSubtractClick()">Subtract</div>
  <div class="button" (click)="add0254()">0254</div>
  <div class="button" (click)="add0253()">0253</div>
  <div class="button" (click)="add0252()">0252</div>
  <div class="button" (click)="addHomansbyen()">Homansbyen</div>
  <div class="button" (click)="addViken()">Viken</div>
  
  
</div>

<div style="position: absolute; top: 100px; left: 100px;
 height: 200px; width: 400px; padding: 20px; 
 background-color: lemonchiffon; z-index: 100000;">
  

  <div class="outer">
    <div class="inner">
      <i class="top right"></i>
      <div class="content">
        Area info wrapper test<br>with inverted corner<br>add close button in circle
      </div>
    </div>
  </div>


</div>